
.form{
  border: 2px solid black;
  width: fit-content;
  padding: 20px; 
  background-color: lightcyan;
}

tr,td,th{
    border: 1px solid silver;
    padding: 10px;
}
#srname, #sort_tbl{
 height: 25px;
 width: 200px;
 font-size: 18px;
}
